body {
 background-image: url("https://jacupsandbox.files.wordpress.com/2021/11/dreammass.gif");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: CCCCFF;
}

div.playbin {
  margin-top: 45px;
  width: 100%;
  text-align: center;
}

div.title {
  font-family: 'Futura';
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 37.5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 2px solid
  border-color: white;
  padding: 20px;
  width: 200px;
  height: 125px;
}

div.menu {
  position: relative;
  font-family: 'Futura';
  background-color: white;
  text-align: center;
  color: grey;
  width: 250px;
  /*centers it*/
  margin-left: auto;
  margin-right: auto;
  /*round corners*/
  border-radius: 25px;
  padding: 20px;
  border: solid;
  border-color: white;
}

div.portfolio {
	  vertical-align: top;
	  display: inline-block;
	  margin: 10px;
	  width: 300px;
    height: 520;
	  text-align: center;
	  font-family: 'Futura';
	  font-size: 14px;
    background-color: white;
    color: white;
    border-radius: 25px;
    padding: 10px;
    border: solid;
    border-color: white;
}

div.about {
  position: relative;
  font-family: 'Futura';
  color: black;
  background-color: white;
  width: 200px;
  font-size: 15px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  top: 45px;
  border-radius: 25px;
  padding: 20px;
  border: solid;
  border-color: white;
}

mark.one {
  color: black;
  background-color: white;
  font-size: 12px;
}

mark.two {
  color: 7F5DFF;
  background-color: white;
  font-weight: bold;
}

mark.current {
  color: green;
  background-color: white;
  font-weight: bold;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}


a:link {
  text-decoration: none;
  color: green;
}

a:link.title {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: purple;
}

a:visited.title {
  text-decoration: none;
  color: white;
}

a:hover {
    color: purple;
    font-weight: bold;
    font-size: 17px;
}

a:hover.title {
  color: white;
  font-size: 37.5px;
}

img {
  object-fit: cover;
}

img.one {
  width: 300px;
  height: 360px;
  border-radius: 25px;
  border: solid 1px;
  border-color: white;
}

/* when screen is 600px or less apply changes */
@media only screen and (max-width: 600px) {

  /* remove .gif background set background color to purple */
  body {
    background-image: url("https://jacupsandbox.files.wordpress.com/2021/11/ezgif-3-dbc3e464d836.gif") !important;
  }

}
